:root {
  --dark-bg: #121212;
  --text-color: #001F1E;
  --accent-color: #00A493;
  --button-color: #1B989F;
  --button-text: #ffff;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  position: relative;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header div{
  display: flex;
  align-items: center;
}

header img{
  height: 30px;
  margin-right: 0.5rem;
}
header p{
  font-size: 1.2rem;
  color: #00A493;
  margin: 0;
}

header ul{
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

header li{
  margin: 0 1rem;
}

header a{
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  padding: 0.5rem;
}

header a:hover{
  color: var(--accent-color);
}

select{
  background-color: transparent;
  color: var(--text-color);
  background-color: #ffff;
  border: 1px solid rgba(112, 112, 112, 0.1);
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
}

/* Hero section styles */
.hero-sect{
  background: url(assets/bg1.png);
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  background-size: cover;
  background-position: center;
}

.hero-sect h1 {
  font-size: 3rem;
  margin-top: 10%;
}

.hero-sect p {
  font-size: 1.4rem;
  font-weight: medium;
  line-height: 33px;
  margin-bottom: 5%;
 
}

.Btn{
  color: var(--button-text);
  border: none;
  width: 100%;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  background-color: #1B989F;
  margin-right: 20px;
}

.select-btn {
  background-color: var(--button-color);
  color: var(--button-text);
  font-size: 0.5rem;
  border: none;
  padding: 0.8rem 1rem;
  margin-bottom: 10%;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.select-btn:hover {
  transform: scale(1.05);
}

/* Footer styles */
footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem 2rem;
  background-color: #08675F;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

footer li {
  margin: 0 1rem;
}

footer a {
  color:#f4f4f4;
  text-decoration: none;
}

footer a:hover {
  color: var(--accent-color);
}

footer p {
  color: #f4f4f4;
  margin: 20px;
  font-size: 0.8rem;
}